       
<img class="admin-image" src="/image/admin-manage.png" alt="image">
    
<div class="gridview">
    <div class="backgr-admin-page"></div>
    <div> {{> header-admin}}  </div>
    
    <div class="add-form">
            <div class="pt-3 pb-3">
                    <b style="font-size:18px; padding-right:10px"> Your link: </b>
                    <a href="/{{slug}}" style="color: rgb(255, 0, 200); font-size:18px;">superp.com/{{slug}}</a>
            </div>
            <div class="workspace">
                    <div class="admin-box mt-3">
                        {{#each link.linkNumber}}
                            <form action="" id="form-links" method="post" >
                                    <input class="inputt " id="title" name="title" 
                                            type="text" placeholder="Title" value="{{title}}" onfocus="this.placeholder = ''" 
                                            onblur="this.placeholder = 'Title'" /> 
                                    <input class="inputt " type="text" id="url" name="url" 
                                            placeholder="Url" value="{{url}}" onfocus="this.placeholder = ''" 
                                            onblur="this.placeholder = 'Url'" />         

                                    <div class="action">
                                            <div class="d-flex">
                                                    <button type="submit" formaction="/me/link/delete/{{id}}?_method=delete">
                                                            <b>Delete</b>
                                                            <img src="image/trash-sharp.svg" width="20" height="30" alt=""> 
                                                    </button> 
                                                     <button type="submit" formaction="/me/link/update/{{id}}?_method=patch">
                                                            <b>Edit</b>
                                                            <span class="oi oi-data-transfer-upload"></span>
                                                    </button>                                                          
                                            </div>
                                    </div>
                            </form>
                            <div class="admin-line"></div>
                        {{/each}}
                    </div>                       
            </div>
    </div>
</div>

